@font-face {
    font-family: 'Montserrat-Thin';
    src: url('/assets/fonts/Montserrat-Thin.eot');
    src: url('/assets/fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Montserrat-Thin.svg#Montserrat-Thin') format('svg'),
         url('/assets/fonts/Montserrat-Thin.ttf') format('truetype'),
         url('/assets/fonts/Montserrat-Thin.woff') format('woff'),
         url('/assets/fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url('/assets/fonts/Montserrat-SemiBoldItalic.eot');
    src: url('/assets/fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic') format('svg'),
         url('/assets/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype'),
         url('/assets/fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
         url('/assets/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
font-family: 'Montserrat-ExtraBold';
src: url('/assets/fonts/Montserrat-ExtraBold.eot');
src: url('/assets/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg'),
        url('/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype'),
        url('/assets/fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('/assets/fonts/Montserrat-ExtraBold.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
  


  