@font-face {
    font-family: 'OpenSans';
    src: url('/assets/fonts/OpenSans-Light.eot');
    src: url('/assets/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/OpenSans-Light.svg#OpenSans-Light') format('svg'),
         url('/assets/fonts/OpenSans-Light.ttf') format('truetype'),
         url('/assets/fonts/OpenSans-Light.woff') format('woff'),
         url('/assets/fonts/OpenSans-Light.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
  }
  

  @font-face {
     font-family: 'OpenSans';
     src: url('/assets/fonts/OpenSans-Bold.eot');
     src: url('/assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
          url('/assets/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
          url('/assets/fonts/OpenSans-Bold.ttf') format('truetype'),
          url('/assets/fonts/OpenSans-Bold.woff') format('woff'),
          url('/assets/fonts/OpenSans-Bold.woff2') format('woff2');
     font-weight: 700;
     font-style: normal;
   }

   @font-face {
     font-family: 'OpenSans';
     src: url('/assets/fonts/OpenSans-ExtraBold.eot');
     src: url('/assets/fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
          url('/assets/fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg'),
          url('/assets/fonts/OpenSans-ExtraBold.ttf') format('truetype'),
          url('/assets/fonts/OpenSans-ExtraBold.woff') format('woff'),
          url('/assets/fonts/OpenSans-ExtraBold.woff2') format('woff2');
     font-weight: 900;
     font-style: normal;
   }

   @font-face {
     font-family: 'OpenSans';
     src: url('/assets/fonts/OpenSans-Regular.eot');
     src: url('/assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
          url('/assets/fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
          url('/assets/fonts/OpenSans-Regular.ttf') format('truetype'),
          url('/assets/fonts/OpenSans-Regular.woff') format('woff'),
          url('/assets/fonts/OpenSans-Regular.woff2') format('woff2');
     font-weight: 400;
     font-style: normal;
   }
   
   