@font-face {
    font-family: 'Pacifico';
    src: url('Pacifico.eot');
    src: url('Pacifico.eot?#iefix') format('embedded-opentype'),
            url('Pacifico.svg#Pacifico') format('svg'),
            url('Pacifico.ttf') format('truetype'),
            url('Pacifico.woff') format('woff'),
            url('Pacifico.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }