@font-face {
    font-family: 'Pacifico';
    src: url('../../fonts/Pacifico.eot');
    src: url('../../fonts/Pacifico.eot?#iefix') format('embedded-opentype'),
            url('../../fonts/Pacifico.svg#Pacifico') format('svg'),
            url('../../fonts/Pacifico.ttf') format('truetype'),
            url('../../fonts/Pacifico.woff') format('woff'),
            url('../../fonts/Pacifico.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }