// Variables + Mixins + Functions
@import "helpers/variables";

// Always include variable 1st !
@import "helpers/mixins";

// Base
@import "base/typography";

// Vendors
// Import jQuery lib, Bootstrap ... etc

// Themes
// If we have themes, import specific styles here

// Layout
@import "layout/common";
@import "layout/header";
@import "layout/main";
@import "layout/sidebar";
@import "layout/footer";


// Page specific styles
@import "page/banner";
@import "page/feature";
@import "page/works";
@import "page/teams";
@import "page/facts";
@import "page/discuss";
@import "page/map";

//Components

@import "components/current";