#slider{
    padding: 0;

    .carousel-indicators{
        bottom: 10px;
        left: inherit;
        margin: 0;
        right: 30px;
        top: 49%;
        width: 0;

        li{
            border: 1px solid rgba(255, 255, 255, 0.3);
            height: 8px;
            width: 8px;
        }

        .active{
            height: 8px;
            width: 8px;
        }
    }

    .carousel-inner{

        .item{
            background-size: cover;
            height: 100vh;

            .carousel-caption{
                top: 50%;
                h2{
                    font-size: 62px;
                    font-weight: 300;

                    span{
                        font-weight: 800;
                    }
                }

                h3{
                    font-size: 48px;
                    font-weight: 300;
                    margin: 6px 0 20px;
                }

                p{
                    color: #ffffff;
                    font-size: 18px;
                    font-weight: 300;

                    &::before, &::after{
                        color: #0feb9e;
                        content: "___";
                        position: relative;
                        top: -8px;
                    }

                    &:before{
                        right: 20px;
                    }

                    &:after{
                        left: 20px;
                    }
                }

                .social-links{
                    margin-top: 5%;
                    li{
                        display: inline-block;
                    }

                    a{
                        color: rgba(255, 255, 255, 0.3);
                        display: block;
                        margin: 0 6px;

                        &:hover{
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}