@include font('Montserrat-ExtraBold', '../fonts/Montserrat-ExtraBold');

#slider{
    padding: 0;
    position: relative;

    .slider__social-links{
        position: absolute;
        display: flex;
        padding: 0px 0px;
        left: 50%;
        transform: translateX(-50%);

        @media screen and(min-width: 800px){
            bottom: 50px;
        }

        li{
            display: inline-block;
        }

        a{
            color: rgba(255, 255, 255, 0.3);
            display: block;
            margin: 0 6px;

            &:hover{
                color: #ffffff;
            }
        }
    }
    .slider__slide{
        margin: 0;
        height: 75vh;
        @media screen and (min-width: 600px) {
            height: auto;
        }
        .slide__background{
            height: 100vh;
            @media screen and (min-width: 800px){
                height: 800px;
            }
            .slide__content{
                display: block !important;
                width: 100%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                @include animate(.4s, ease-out);
                @media screen and (min-width: 800px){
                    bottom: 180px;
                }
                h2{
                    @include font-size(42px);
                    font-weight: 300;
                    span{
                        font-family: 'OpenSans-Bold';
                        font-weight: 800;
                    }
                    @media screen and (min-width: 800px) {
                        @include font-size(62px);
                    }
                }
        
                h3{
                    @include font-size(28px);
                    font-weight: 300;
                    margin: 0;
                    margin-bottom: 18px;
                    @media screen and (min-width: 800px) {
                        margin-bottom: 18px;
                        @include font-size(48px);
                    }           
                }
        
                p{
                    color: #ffffff;
                    @include font-size(15px);
                    font-weight: 300;

                    @media screen and (min-width: 800px){
                        @include font-size(18px);
                    }
        
                    &::before, &::after{
                        display: inline-block;
                        content: "";
                        width: 29px;
                        height: 1px;
                        background: $primary-green;
                    }
        
                    &:before{
                        margin-right: 32px;
                    }
        
                    &:after{
                        margin-left: 32px;
                    }
                }
            }
        }
        
        .slick-dots{
            position: absolute;
            display: flex;
            height: fit-content;
            width: fit-content;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            right: 10px;
            bottom: 20px;
            @media screen and (min-width: 800px) {
                right: 48px;
                top: 50%;
                transform: translateY(-50%);
            }

            li{
                margin: 0;
                width: fit-content;
                height: fit-content;
                padding-top: 15px;
                button{
                    width: 8px;
                    height: 8px;
                    padding: 1px;
                    border: 1px solid rgba($color: #c3c6c7, $alpha: 1);
                    border-radius: 50%;
                    
                    &:before{
                        display: none;
                    }
                }
            }
            .slick-active{
                button{
                    background-color: #ffffff;
                }

            }
        }
        .slick-list{
            height: 100%;
            .slick-track{
                height: 100%;
                .slick-slide{
                    display: block;
                    float: left;
                    text-align: center;
                    background-size: cover;
                    @include flex();
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    position: relative;
                }
            }
        }
    }
}