#feature{
    background-color: #f4f7f9;
    padding: 70px 0px 51px 0px;

    .container__slider{
        margin: 0 auto;
        .row__service{
            padding: 20px 15px 0px 31px;
            margin-bottom: 30px;
            @media screen and (min-width: 1200px){
                margin-bottom: 0px;
                padding: 0px 15px 0px 31px;
            }
            .service__icon{
                height: 100%;
                float: left;
                img{
                    max-width: 100%;
                }
            }
            .service__desc{
                @include font-size(13px);
                color: #7a8993;
                padding-left: 52px;
                h3{
                    color: #000000;
                    @include font-size(20px);
                    font-weight: 600;
                    margin-bottom: 18px;
                }
            }
        }
        .slick-list{
            padding: 39px 0px 62px 0px;
            height: fit-content;

            .slick_track{
                .slick-slide{
                    display: flex;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }

        .slick-dots{
            position: unset;
            li{
                height: 8px;
                width: 8px;
                padding: 0;
                margin: 0 7.5px;
                button{
                    width: 8px;
                    height: 8px;
                    padding: 3px;
                    border: 1px solid #c3c6c7;
                    border-radius: 50%;
                    &::before{
                        display: none;
                    }
                }
            }
        }
    }
}