#feature{
    background-color: #f4f7f9;
    padding: 70px 0px 51px 0px;

    .feature__title{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .container__slider{
        
        @media screen and (min-width: 768px){
            width: 768px;
        }
        @media screen and (min-width: 992){
            width: 992px;
        }
        @media screen and (min-width: 1200px){
            width: 1200px;
        }
        margin: 0 auto;
        .row__service{
            padding: 0 15px 0 30px;
            .service__icon{
                height: 100%;
                float: left;
                color: $primary-green;
                border: 1px solid $primary-green;
                border-radius: 50%;
                padding: 10px;
                i{
                    @include font-size(18px);
                }
            }
            .service__desc{
                @include font-size(13px);
                color: #7a8993;
                padding-left: 52px;
            }
        }
        .slick-list{
            padding: 39px 0px 62px 0px;
            height: fit-content;

            .slick_track{
                
            }
        }
    }
}