#feature{
    background-color: #f4f7f9;
    .row{
        margin: 0;
    }
    .service__item{
        padding: 0px 10px;
        .service__icon{
            border: 1px solid #0eb493;
            border-radius: 50%;
            color: #0eb493;
            float: left;
            padding: 10px 13px;
        }

        .service__desc{
            margin-left: 70px;
            position: relative;
            h3{
                color: #062033;
                @include font-size(20px);
                font-weight: 600;
                margin-bottom: 25px;
            }
        }
    }

    .container__slider{
        .slick-dots{
            margin-bottom: -3rem;
            left: 50%;
            transform: translateX(-50%);
            li{
                button{
                    border: 1px solid rgba($color: #c3c6c7, $alpha: 1);
                    border-radius: 50%;
                    width: 8px;
                    height: 8px;
                    padding: 2px;
                    &:before{
                        content: '';
                    }
                }
            }
        }
    }
}