#teams{
    padding-top: 92px;
    padding-bottom: 91px;
    p{
        font-family: 'OpenSans';
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        padding: 0 10px;
        margin: 0 auto;
        margin-bottom: 70px;
        max-width: 950px;
        color: #5b646e;
        @media screen and (min-width: 768px) {
            margin-bottom: 110px;
        }
    }

    .team__title{
        margin-bottom: 33px;
    }


    .container__slider--team{
        .slider__person{
            .person__image{
                position: relative;
                margin-bottom: 20px;
                img{
                    height: 300px;
                    width: 100%;
                    object-fit: cover;
                }
                figcaption{
                    text-align: center;
                    position: absolute;
                    padding: 20px 20px 0px 20px;
                    height: 100%;
                    width: 100%;
                    opacity: 1;
                    background-color: rgba($color: $primary-green, $alpha: 0.8);
                    top: 0;
                    left: 0;
                    opacity: 0;
                    @include animate(.4s, ease-out);
                    transform: rotateY(180deg) scale(0.5,0.5);
                    color: #ffffff;
                    h6{
                        font-family: "OpenSans";
                        font-weight: 700;
                        @include font-size(22px);
                        margin-bottom: 15px;
                        margin-top: 30px;
                        @media screen and (min-width: 768px){
                            @include font-size(16px);
                            margin-top: 0;
                        }
                    }
                    p{
                        font-family: "OpenSans";
                        font-weight: 400;
                        @include font-size(16px);
                        margin: 0;
                        color: #ffffff;
                        padding: 0;
                        padding-bottom: 50px;
                        @media screen and (min-width: 768px){
                            padding-bottom: 65px;
                        }

                    }
                    nav{
                        width: 100%;
                        position: absolute;
                        bottom: 23px;
                        left: 50%;
                        transform: translateX(-50%);
                        a{
                            width: 37px;
                            height: 37px;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba($color: #0a7e67, $alpha: 0.8);
                            i{
                                @include font-size(16px); 
                            }
                            @media screen and (min-width: 768px){
                                width: 42px;
                                height: 42px;
                            }
                        }
                    }
                }
                &:hover{

                    figcaption{ 
                        opacity: 1;
                        transform: rotateY(0deg) scale(1,1);
                    }
                }
            }
            
            .person__desc{
                text-align: center;
                h4{
                    font-family: 'OpenSans';
                    font-weight: 600;
                    @include font-size(18px);
                    @include animate(.4s, ease-out);
                    color: #062033;
                }
                p{
                    @include font-size(13px);
                    font-size: 'OpenSans';
                    font-weight: 400;
                    padding-top: 9px;
                    margin: 0;
                    color: #062033;
                }

                &:hover{
                    h4{
                        color: $primary-green;
                    }
                }
            }
        }
    }

    .slick-list{
        margin-bottom: 30px;
        @media screen and (min-width: 768px){
            margin-bottom: 85px;
        }
    }

    

    .slick-dots{
        display: flex;
        justify-content: center;
        align-items: center;
        position: unset;
        
        li{
            height: 8px;
            width: 8px;
            padding: 0;
            margin: 0 7px;
            button{
                width: 8px;
                height: 8px;
                padding: 3px;
                border: 1px solid #c3c6c7;
                border-radius: 50%;
                &::before{
                    display: none;
                }
            }
        }
      }
}