body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 21px;
  font-size: 13px;
  color: #6a737b;

  > section{
    padding: 70px 0;
  }
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, p {
  margin: 0;
}

a {
  color: #fff;
  -webkit-transition: all .3s ease-in 0s;
     -moz-transition: all .3s ease-in 0s;
      -ms-transition: all .3s ease-in 0s;
       -o-transition: all .3s ease-in 0s;
          transition: all .3s ease-in 0s;
}

iframe {
  border: 0;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus, a:hover {
  color: #6CB670;
}

h1, h2, h3,
h4, h5, h6 {
font-weight: normal;
margin: 0;
}

span.color {
	color: #0feb9e;
}

.devider{
  margin-top: 30px;

  i{
    color: #cccccc;
  }

  &::before, &::after{
    content: "______________________";
    color: #e6e8ea;
    position: relative;
    bottom: 6px;
  }

  &::before{
    right: 10px;
  }

  &::after{
    left: 10px;
  }
}

.mb50{
  margin-bottom: 50px;
}

.sec-title{
  h2{
    color: #0eb493;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
  }
}

.sec-sub-title {
  margin: 35px 0 45px;
  p{
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    color: #5b646e;
  }
}
