*{
  &:focus{
    outline: none;
  }
}
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 21px;
  @include font-size(13px);
  color: #6a737b;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, p {
  margin: 0;
}

a {
  color: #fff;
  -webkit-transition: all .3s ease-in 0s;
     -moz-transition: all .3s ease-in 0s;
      -ms-transition: all .3s ease-in 0s;
       -o-transition: all .3s ease-in 0s;
          transition: all .3s ease-in 0s;
}

iframe {
  border: 0;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus, a:hover {
  // color: #6CB670;
}

h1, h2, h3,
h4, h5, h6 {
font-weight: normal;
margin: 0;
}

span.color {
	color: #0feb9e;
}



.devider{
  position: relative;
  margin-bottom: 25px;
  i{
    color: #c3c6c7;
  }
  &::before, &::after{
    content: "";
    width: 90px;
    height: 1px;
    background-color: #c3c6c7;
    position: absolute;
    bottom: 6px;
  }
  &::before{
    right: calc(50% + 23px);
  };

  &::after{
    left: calc(50% + 23px);
  }
}


.devider{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-flow: column;
  h2{
    color: #0eb493;
    @include font-size(28px);
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'OpenSans';
    font-weight: 900;
    margin-bottom: 21px;
  }
}

.sec-sub-title {
  margin: 35px 0 45px;
  p{
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    color: #5b646e;
  }
}

.slick-dots{
  .slick-active{
    button{
      background-color: #000000;
    }
  }
}

.ti-heart{
  &::before{
    content: "\e634";
  }
}

.filter--selected{
  color: #fff;
  background-color: $primary-green;
} 


.container{
  @media screen and (min-width: 768px){
    width: 780px;
  }
  @media screen and (min-width: 992px){
    width: 1000px;
  }
  @media screen and (min-width: 1200px){
    width: 1200px;
  }
}

.nav__btn--focus{
  border-top:1px solid #FFC300 !important;
}

.nav__btn--focus-begin{
  border-top:1px solid #32b0ee !important;
}

.nav__btn--focus-smartphone{
  color: #FFC300;
  border: none;
}