body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 21px;
font-size: 13px;
  color: #6a737b;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure, p {
  margin: 0;
}

a {
  color: #fff;
  -webkit-transition: all .3s ease-in 0s;
     -moz-transition: all .3s ease-in 0s;
      -ms-transition: all .3s ease-in 0s;
       -o-transition: all .3s ease-in 0s;
          transition: all .3s ease-in 0s;
}

iframe {
  border: 0;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus, a:hover {
  color: #6CB670;
}

h1, h2, h3,
h4, h5, h6 {
font-weight: normal;
margin: 0;
}

span.color {
	color: #0feb9e;
}