#footer-navigation{
    background-color: $primary-green;
    padding-top: 50px;
        padding-bottom: 75px;
    @media screen and (min-width:1200px){
        padding-top: 100px;
        padding-bottom: 125px;
    }
    p{
        color: #ffffff;
    }
    h6{
        color: rgb(223, 239, 235);
        @include font-size(14px);
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 10px;
        @media screen and (min-width: 768px){
            margin-top: 16px;
            margin-bottom: 42px;
        }
    }
    .footer__container{
        
        .container__row{
            .row__content{
                margin-bottom: 10px;
                @media screen and (max-width: 768px){
                    text-align: center;
                    margin-bottom: 20px;
                }

                @media screen and (min-width: 768px) and (max-width: 1200px){
                    width: 49%;
                    float: left;
                }
                h1{
                    font-family: "Pacifico";
                    @include font-size(30.5px);
                    color: #ffffff;
                    margin-bottom: 35px;
                }
                p{
                    @media screen and (max-width: 768px){
                        text-align: center;
                    }
                    color: #ffffff;
                }
            }

            .row__subscribe{
                margin-bottom: 8px;
                @media screen and (max-width: 768px){
                    text-align: center;
                    margin-bottom: 20px;
                }
                @media screen and (min-width: 768px) and (max-width: 1200px){
                    width: 49%;
                    float: left;
                }
                form{
                    margin-bottom: 17px;
                    height: 42px;
                    border: 2px solid #ffffff;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: row;
                    input{
                        width: 100%;
                        height: 100%;
                        border: none;
                        background-color: transparent;
                        outline: none;
                        color: #ffffff;
                        padding: 0px 10px;
                    }
                    button{
                        border: none;
                        background-color: transparent;
                        height: 100%;
                        outline: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include animate(.4s, ease-out);
                        color: rgba(255,255,255,0.6);
                        padding-right: 17px;
                        i{
                            @include font-size(20px);
                        }
                        &:hover{
                            color: #000000;
                        }
                    }
                }
            }

            .row__explore{
                margin-bottom: 8px;
                @media screen and (max-width: 768px){
                    text-align: center;
                    margin-bottom: 20px;
                }
                @media screen and (min-width: 768px) and (max-width: 1200px){
                    width: 49%;
                    padding-top: 8px;
                    float: left;
                }
                h6{
                    margin-bottom: 36px;
                    @media screen and (max-width: 768px){
                        margin-bottom: 20px;
                        margin-top: 10px;
                    }
                }
                .explore__links{
                    display: flex;
                    text-align: left;
                    @media screen and (max-width: 768px){
                        justify-content: center;
                        align-items: center;
                    }

                    .links__item{
                        display: flex;
                        flex-direction: column;
                    }
                    .links__item--left{
                        margin-right: 41px;
                    }
                    .links__item--right{
                    }
                    a{
                        margin-bottom: 8px;
                    }
                }
            }

            .row__credit{
                padding: 0;
                color: rgb(6, 32, 51);
                padding: 71px 15px 0px 27px;
                @media screen and (max-width: 768px){
                    text-align: center;
                    padding-top: 0;
                }
                @media screen and (min-width: 768px) and (max-width: 1200px){
                    width: 49%;
                    float: left;
                }
                p{
                    position: relative;
                    margin-bottom: 10px;
                    @media screen and (min-width: 768px) and (max-width: 1200px){
                        margin-bottom: 53px;
                    }
                    &:before{
                        position: absolute;
                        width: 1px;
                        height: 39px;
                        background-color: rgb(23, 126, 114);
                        left: -13px;
                        top: 50%;
                        transform: translateY(-50%);
                        @media screen and (min-width: 1200px){
                            content: "";
                        }
                    }
                    i{
                        padding: 0px 10px 0px 4px;
                        color: rgb(21, 117, 98);
                    }
                    span{
                        color:rgb(6, 32, 51);
                    }
                }
                
            }
        }
    }
}