@include font('Pacifico-Regular', '../fonts/Pacifico');

header{
  background-color: rgba(16, 22, 54, 0.2);
  border: 0 none;
  margin: 0;
  @include animate(.4s, linear);
  .container{

    .nav--smartphone{
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba($color: #000000, $alpha: 0.9);
      transform: translateX(100%);
      z-index: 100;
      @include animate(.2s, linear);
      display: none;
      .nav--smartphone__menu{
        .navbar-nav{
          text-align: center;
          margin: 3rem auto;
          li{
            padding: 1rem 0rem;
            a{
              @include font-size(30px);
              font-weight: 500;
              background: transparent;
              &:focus{
                color: $primary-green;
                background-color: transparent;
              }
              &:focus{
                color: $primary-green;
                background-color: transparent;
              }
            }
          }
        }
      }
    }

    .row{
      .row__button--collapse{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        right: 0;
        display: none;
        z-index: 100000;
        @media screen and (max-width: 60rem) {
          display: block;
        }
        i{
          color: #ffffff;
        }
      }
    }
    .row__header{
      color: #ffffff;
      .navbar-brand{
        padding: 0;
        margin-left: 0px !important;
        @include flex();
        align-items: center;

        h1{
          font-family: 'Pacifico-Regular' ,Arial, sans-serif;
          @include font-size(32px);
        }
        i{
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          @include font-size(15px);
          font-weight: 300;
          padding: 0 20px;
          margin-left: 20px;
          color: rgba($color: #f5f5f5, $alpha: 0.5);
          border-left: 1px solid rgba($color: #f5f5f5, $alpha: 0.5);
          @include animate(.4s, ease-out);
        }
      }
    }

    .row__nav--right{
      @media screen and (max-width: 60rem){
        display: none;
      }
      .navbar-nav{
        li{
          a{
            border-top: 1px solid transparent;
  
            &:hover, &:focus{
              background-color: transparent;
              border-top: 1px solid #32B0EE;
              color: #fff;
            }
          }
        }
      }
    }
  }
}